network:
  version: 2
  renderer: networkd
  ethernets:
    {{item.interface}}:
      dhcp4: no
      dhcp6: no

  vlans:
{% for vlan in item.vlans %}
    vlan{{vlan}}:
      dhcp4: no
      dhcp6: no
      accept-ra: no
      id: {{vlan}}
      link: {{ item.interface }}
{% endfor %}

  bridges:
{% for vlan in item.vlans %}
    br{{vlan}}:
      dhcp4: no
      dhcp6: no
      interfaces: [ vlan{{vlan}} ]
{% endfor %}
