# Minimal Ubuntu server VM kickstart file created by merging:
# https://github.com/vrillusions/ubuntu-kickstart.git
# https://github.com/earlruby/create-vm.git

# System language
lang en_US

# Language modules to install
langsupport en_US

# System keyboard
keyboard us

# System mouse
mouse

# J2O: Static network
{% if  hostvars[item].kvm_guest_dhcp is defined %}
network --bootproto=dhcp --device={{hostvars[inventory_hostname].kvm_guest_mac_dict[item]}} --hostname={{hostvars[item].kvm_guest_name}}
{% else %}
network --bootproto=static --device={{hostvars[inventory_hostname].kvm_guest_mac_dict[item]}} --ip={{hostvars[item].kvm_guest_ip_address}} --netmask={{hostvars[item].kvm_guest_netmask}} --gateway={{hostvars[item].kvm_guest_gateway}} --nameserver={{hostvars[item].kvm_guest_dns}} --hostname={{hostvars[item].kvm_guest_name}}
{% endif %}

# System timezone. See later for NTP settings
# Ubuntu 18.04 doesn't seem to implement --ntpservers=
timezone --utc Etc/UTC

# Root password
rootpw --disabled

# Initial user
user ansible --fullname "ansible" --iscrypted --password $6$wHkj3baS8qBYT5LW$G1AnJ5LlnRwP/d3J/pKu2kTugxODbdCXxumH.K.IDeiiNv7xKOt.hUbYL8TQVEieO65zCzKRrbns3nYSje0eU.

# Reboot after installation
reboot

# Use text mode install
text

# Install OS instead of upgrade
install

# Use CDROM installation media
cdrom

# Change console size to 1024x768x24
#preseed debian-installer/add-kernel-opts string "vga=792"

# System bootloader configuration
bootloader --location=mbr

# Clear the Master Boot Record
zerombr yes

# Partition clearing information
clearpart --all

# Disk partitioning information
part / --fstype ext4 --size 3700 --grow
part swap --size 200

# don't install recommended items by default
# This will also be set for built systems at
# /etc/apt/apt.conf.d/00InstallRecommends
preseed base-installer/install-recommends boolean false

# System authorization infomation
auth  --useshadow  --enablemd5

# Firewall configuration. NB not supported by Ubuntu
#firewall --enabled --ssh

# Policy for applying updates. May be "none" (no automatic updates),
# "unattended-upgrades" (install security updates automatically), or
# "landscape" (manage system with Landscape).
preseed pkgsel/update-policy select none

# Don't install recommended items by default
# This will also be set for built system at
# /etc/apt/apt.conf.d/00InstallRecommends
preseed base-installer/install-recommends boolean false

# Do not configure the X Window System
skipx

# Packages to be installed
%packages
bash-completion
chrony
curl
gpg-agent
haveged
man
net-tools
openssh-server
python
software-properties-common
vim
wget

# Commands to execute before first reboot
%post --interpreter=/bin/bash
echo ### Redirect output to console
exec < /dev/tty6 > /dev/tty6
chvt 6

echo ### Enable serial console so virsh can connect to the console
systemctl enable serial-getty@ttyS0.service
systemctl start serial-getty@ttyS0.service

echo ### Add public ssh key for Ansible
mkdir -m0700 -p /home/ansible/.ssh
cat <<EOF >/home/ansible/.ssh/authorized_keys
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIN9pS1LLaPWrGqnMiKFSUfGMKCQgrAlfhqh+h7Fy7rDg stewie-ansible generated 2019-08-25
EOF

echo ### Set permissions for Ansible directory and key. Since the "Initial user"
echo ### is added *after* %post commands are executed, I use the UID:GID
echo ### as a hack since I know that the first user added will be 1000:1000.
chown -R 1000:1000 /home/ansible
chmod 0600 /home/ansible/.ssh/authorized_keys

# Allow Ansible to sudo w/o a password
echo "ansible ALL=(ALL) NOPASSWD:ALL" > /etc/sudoers.d/ansible

# Configure chrony if NTP server defined, otherwise use default pool
{% if  hostvars[item].kvm_guest_ntp is defined %}
sed -i -e '$ a\server {{hostvars[item].kvm_guest_ntp}} iburst prefer' /etc/chrony/chrony.conf
{% endif %}

echo ### Change back to terminal 1
chvt 1
